<p>
  Bewerbuung speichern
  <a href="" (click)="sendMeHome()">
    <strong>Bring mich zurück</strong>
  </a>
</p>
<div class="container color-dark">
  <div class="col">
    <details>
      <summary>Deine Informationen</summary>
      <input type="text" class="txt" name="item" placeholder="Name">
      <input type="text" class="txt" name="item" placeholder="Nachname">
      <input type="text" class="txt" name="item" placeholder="Straße + Nr">
      <input type="text" class="txt" name="item" placeholder="Plz">
      <input type="text" class="txt" name="item" placeholder="Ort">
      <input type="text" class="txt" name="item" placeholder="E-Mail">
      <input type="text" class="txt" name="item" placeholder="Mobil Nr.">
    </details>
  </div>
  <div class="container color-dark2">
    <div class="col">
      <details>
        <summary>Firmen Informationen</summary>
        <input type="text" class="txt" name="item" placeholder="Firmen Name">
        <input type="text" class="txt" name="item" placeholder="Ansprechpartner">
        <input type="text" class="txt" name="item" placeholder="Abteilung">

        <input type="text" class="txt" name="item" placeholder="Straße + Nr">
        <input type="text" class="txt" name="item" placeholder="Plz">
        <input type="text" class="txt" name="item" placeholder="Ort">
        <input type="text" class="txt" name="item" placeholder="E-Mail">
      </details>
    </div>
    <div>
      <form></form>
    </div>
    <form>
      <input type="text" class="txt2" name="item" placeholder="Betreff">
    </form>
 <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
   