
<p>
  Bewerbuung speichern <a href=""(click)="sendMeHome()"><strong>Bring mich zurück</strong></a>
</p>
<details>
  <summary>Deine Informationen</summary>
  <input type="text" class="txt" name="item" placeholder="Name">
  <input type="text" class="txt" name="item" placeholder="Nachname">
  <input type="text" class="txt" name="item" placeholder="Straße + Nr">
  <input type="text" class="txt" name="item" placeholder="Plz">
  <input type="text" class="txt" name="item" placeholder="Ort">
  <input type="text" class="txt" name="item" placeholder="E-Mail">
  <input type="text" class="txt" name="item" placeholder="Mobil Nr.">
  </details>


