textarea{
    font-size: 14pt;
    height: 902px;
    width : 900px;
}
select {
    height: 50px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: 760px;
    position: relative;
    bottom: 24cm;
}

button{
    height: 40px;
    width: 91px;
    display: block;
    margin-left: auto;
    margin-right: 760px;
    position: relative;
    bottom: 23cm;
}
input.txt {
    border: 0;
    padding: 1em;
    width: 15%;
    margin-bottom: 2em;
}

.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #c22d2d;
}
input.txt2 {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
    margin-left: 2em;
}
select {
    color: #e3e4e1;
}